footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
  }
#sub1{
    color:goldenrod;
    background-color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;


}